img{
  width: 90%;
  display: block;
}
.each{
  display: flex;
  flex-direction: row;
  margin-left: 15px;
}

.card{
  display: flex;
  flex-direction: row;
  margin-left: 15px;
}

.seeAll{
  display: flex;
  flex-direction: row-reverse;
}

h3{
  margin-left: 15px;
}

.header1{
  display: flex;
  align-items: center;
}
.header2{
  display: flex;
  align-items: center;
}

hr{
  width: 87%;
  height: 0;
}

.hr2{
  width: 88%;
  height: 0;
}

.news{
  width: 230px;
  font-weight: bold;
}

button{
  border-style: none;
  font-weight: 900;
}